<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="xhV_PUUN2wIhB9ZErTI0o7rXBsk8RBtwCEdq7UIZ8N8" />
    <script src="https://kit.fontawesome.com/34ba354b05.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
    <title>{{ page.title }}</title>
</head>
