<div class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}/">
              <span><img src="{{ "img/logo.png" | relative_url }}" style="height: 18px; vertical-align: middle; position:relative; top:-1.5px;" alt="Logo"></span>
               &nbsp  {{ site.title }}
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ site.baseurl }}/people/">People</a>
                <a class="navbar-item" href="{{ site.baseurl }}/research/">Research</a>
                <a class="navbar-item" href="{{ site.baseurl }}/publications/">Publications</a>
                <a class="navbar-item" href="{{ site.baseurl }}/courses/">Courses</a>
                <a class="navbar-item" href="{{ site.baseurl }}/blog">Blog</a>
                <a class="navbar-item" href="https://photos.app.goo.gl/HSz5n7mYCtS9ZDoT6">Photos</a>
                <a class="navbar-item" href="{{ site.git_address }}"><i class="fab fa-github" style="font-size: 20px; vertical-align: middle"></i></a>
                <a class="navbar-item" href="https://www.kaist.ac.kr"><img src="{{ "img/kaist_logo.png" | relative_url }}" style="height: 15px"/></a>
            </div>
        </div>
    </div>
</div>
