---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.dropdown {
  float: left;
  width: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darken($background-color, 3%);
  min-width: 160px;
  box-shadow: $box-shadow;
  z-index: 1;
}

.dropdown-content a {
  padding: 4px 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:not(:last-child){
  border-bottom: none;
}
