---
layout: default
---

<div class="content">
  {% assign year_printed = 0 %}
  {% assign list_opened = false %}

  {% for pub in site.data.publications %}
    {% if year_printed != pub.year %}
      {% if list_opened == true %}
        </ul>
      {% endif %}
      <h1> {{ pub.year }} </h1>
      <ul>
      {% assign list_opened = true %}
      {% assign year_printed = pub.year %}
    {% endif %}
      <li>{{pub.title}}<br>
        {% for author in pub.author %}
          {% if forloop.last %}
            and {{ author }}
          {% else %}
            {{ author }},
          {% endif %}
        {% endfor %}
        {% if pub.award != nil %}
          <br>&#127942; <b>{{pub.award}}</b>
        {% endif %}
        <br>
        {{ pub.venue }}, {{ pub.year }}
        <br>
        {% if pub.paper != nil %}
          [<a href="papers/{{ pub.paper }}">paper</a>]
        {% endif %}
        {% if pub.full != nil %}
          [<a href="papers/{{ pub.full }}">full-version</a>]
        {% endif %}
        {% if pub.slides != nil %}
          [<a href="slides/{{ pub.slides }}">slides</a>]
        {% endif %}
        {% if pub.video != nil %}
          [<a href="{{ pub.video }}">video</a>]
        {% endif %}
        {% if pub.code != nil %}
          [<a href="{{ pub.code }}">code</a>]
        {% endif %}
      </li>
      <br>
    {% endfor %}
</div>
